:root {
    --primary: #07d;
    --primary-darker: rgb(0, 66, 124);
    --secondary: #e00;
    --background-color: #222;
    --text-color: #fff;
  }
  
body {
    background-color: var(--background-color); 
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 24px;
    min-height: 100vh;
    margin: 0;
}
a, a:visited {
    color: var(--text-color);
    text-decoration: none;
}
div.dragFileArea {
    height: 100vh;
}
table.files {
    width: 100vw;  
    padding: 100px 10px 10px 10px;
    border-spacing: 0px;
    tr.no-highlight:hover {
        background-color: rgba(255, 255, 255, 0);
        cursor: default;
    }
    tr:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
    @media (max-width: 800px) {
        tr {
            display: grid;
        }
    }
    td {
        overflow-x: hidden;
        padding-right: 10px;
    }
    cursor: pointer;
}
toolbar {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: var(--primary);
    top: 0;
    * {
        padding: 2px 15px;
    }
    *:hover {
        background-color: var(--secondary);
    }
}
header {
    display: flex; 
    position: fixed;
    width: 100vw;
    background-color: var(--background-color);
    border-bottom: var(--primary-darker) solid 3px;
    padding: 10px 10px;
    top: 35px;
    box-sizing: border-box;
}
div.modal {
    position: fixed; 
    display: none;
    background-color: var(--primary);
    border: var(--primary-darker) 3px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    input {
        font-size: 2rem;
    }
    form > input {
        font-size: 24px;
        color: var(--text-color);
        border: solid rgba(255, 255, 255, 0) 3px;
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.3);
        outline: none;
        margin-top: 5px;
        transition: border-color 0.3s ease;
    }
    form > input:focus {
        border: solid rgba(255, 255, 255, 0.75) 3px;
    }
    div {
        display: flex; justify-content: space-between; margin-top: 20px;
        *:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}
button {
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: var(--text-color);
}
span.folder::before {
    content: '📁';
}
span.document::before, span.other::before {
    content: '📄';
}
span.image::before {
    content: '🖼️';
}
span.document2::before {
    content: '📋';
}
span.up::before {
    content: '🔼';
}
span.video::before {
    content: '🎥';
}
span.spreadsheet::before {
    content: '📊';
}
span.compressed::before {
    content: '📦';
}
span.audio::before {
    content: '🔊';
}
span.web::before {
    content: '🌐';
}
span.data::before {
    content: '📑';
}
span.executable::before {
    content: '💻';
}

div.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tooltip {
	position: fixed; 
	display: grid; 
	min-width: 220px;
	background-color: var(--primary); 
	padding: 10px; 
	border-radius: 5px;
    	@media (max-width: 800px) {
		transform: translate(0, 10px);
	}
    	@media (min-width: 801px) {
		transform: translate(-250px, 0);
	}
}
.tooltip a:hover {
    background-color: var(--secondary);
}
