{% extends 'base.html' %}

{% block title %} {{ current_path }} {% endblock %}

{% block content %}
{% include 'modalMkdir.html' %}
{% include 'modalUpload.html' %}

<div class="dragFileArea" ondragenter="modalUploadDragFile(event)" ondrop="modalUploadInsertDroppedFiles(event)" ondragover="event.preventDefault()">
<toolbar>
    <a href="" onclick="modalUploadClick(event)">UPLOAD</a>
    <a href="" onclick="modalMkdirClick(event)">MKDIR</a>
    <a href="" onclick="toggleRm(event)">RM</a>
    <a href="/logout">EXIT</a>
</toolbar>

<header>
    {{ current_path }}
</header>

<table class="files">
{% for r in res %}
    <tr onclick="window.location.href = '{{r['path']}}'">
        <td>
            <span class="{{r['type']}}">{{ r['name'] }}</span>
        </td>
        <td style="padding: 0 50px; color: rgba(255, 255, 255, 0.25); text-align: right;">
            {{ r['created_at'] }}
        </td>
        <td class="rm" style="display: none;">
            {% if r['type'] != 'up' %}
            <a href="{{r['rm_path']}}">[RM]</a> 
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
</div>

<script src="/static/rmButton.js"></script>

{% endblock %}

