{% extends 'base.html' %}

{% block title %} {{ current_path }} {% endblock %}

{% block content %}
{% include 'modalMkdir.html' %}
{% include 'modalCreate.html' %}
{% include 'modalUpload.html' %}

<div class="dragFileArea" ondragenter="modalUploadDragFile(event)" ondrop="modalUploadInsertDroppedFiles(event)" ondragover="event.preventDefault()">
<toolbar>
    <a href="" onclick="modalUploadClick(event)">UPLOAD</a>
    <a href="" onclick="modalCreateClick(event)">CREATE</a>
    <a href="" onclick="modalMkdirClick(event)">MKDIR</a>
    <a href="/logout">EXIT</a>
</toolbar>

<header>
    {{ current_path }}
</header>

<table class="files">
{% for r in res %}
    <tr onclick="window.location.href = '{{r['path']}}'">
        <td>
            <span class="{{r['type']}}">{{ r['name'] }}</span>
        </td>
        <td style="color: rgba(255, 255, 255, 0.50); text-align: right;">
            {{ r['size'] }}
        </td>
        <td style="color: rgba(255, 255, 255, 0.25); text-align: right;">
            {{ r['created_at'] }}
        </td>
        <td onclick="toggleMore(event, '{{r['path']}}')">
            {% if r['type'] != 'up' %}
            ...
            {% endif %}
        </td>
    </tr>
    <tr id="more-{{r['path']}}" style="display: none;" class="no-highlight">
        <td>
            <a href="{{r['rm_path']}}">[RM]</a> [RENAME] [EDIT]
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% endfor %}
</table>
</div>

<script src="/static/toggleMore.js"></script>

{% endblock %}

