<div class="modal" id="modalUpload">
  <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="hidden" name="path" value="{{current_path}}">
      <input type="file" name="file">
      <div>
        <button type="submit">Upload File</button>
        <a href="" onclick="modalUploadClick(event)">Cancel</a>
      </div>
  </form>
</div>

<script>
  var modalUpload = document.getElementById('modalUpload');
  modalUpload.style.display = 'none';
  function modalUploadClick(event) {
    event.preventDefault()
    if (modalUpload.style.display === 'none') {
      modalUpload.style.display = 'block';
    } else {
      modalUpload.style.display = 'none';
    }
  };
</script>